<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
<meta charset="UTF-8">
<style>
  h1 {
    margin-left: 35%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 20px;
  }
  button:hover {
    background-color: green;
  }
  #myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
  }
</style>

<!-- Toolbar -->
<div>

  <h1>{{ title }}</h1>
  <div class="spacer"></div>

</div>


<button type="button" onclick="alert('Hello world!')">Airplane</button>
<button type="button" onclick="alert('Hello world!')">Pilot</button>
<button type="button" onclick="alert('Hello world!')">Passenger</button>
<button type="button" onclick="alert('Hello world!')">Ticket</button>
<button routerLink="/destination">Destination</button>

<!-- Highlight Card -->
<div>


  <h2>
    Airplane Information:
  </h2>
  <h3>
    <table>
      <tr>
        <th>AirplaneID</th>
        <th>DestinationID</th>
        <th>HeadPilotID</th>
        <th>Capacity</th>
        <th>Model</th>
        <th>Company</th>
        <th>CrewSize</th>
      </tr>
      <tr>
        <td>392</td>
        <td>111 </td>
        <td>Capt. Smith</td>
        <td>100</td>
        <td>E190</td>
        <td>JBU</td>
        <td>4</td>
      </tr>
      <tr>
        <td>332</td>
        <td>111 </td>
        <td>Capt. Jones</td>
        <td>50</td>
        <td>ERJ 145</td>
        <td>EXJ</td>
        <td>3</td>
      </tr>
      <tr>
        <td>818</td>
        <td>111 </td>
        <td>Capt. Julius</td>
        <td>25</td>
        <td>EMB 120</td>
        <td>SKW</td>
        <td>3</td>
      </tr >
      <tr>
        <td>380</td>
        <td>111 </td>
        <td>Capt. Hassoun</td>
        <td>160</td>
        <td>A319</td>
        <td>UAL</td>
        <td>6</td>
      </tr>
    </table>
  </h3>
  <h2>
    Pilot Information:
  </h2>
  <h3>
    <table>
      <tr>
        <th>PilotID</th>
        <th>AirplaneID</th>
        <th>FirstName</th>
        <th>LastName</th>
      </tr>
      <tr>
        <td>P221714</td>
        <td>392 </td>
        <td>Bob</td>
        <td>Smith</td>
      </tr>
      <tr>
        <td>P312127</td>
        <td>332</td>
        <td>Eric</td>
        <td>Jones</td>
      </tr>
      <tr>
        <td>P963451</td>
        <td>529 </td>
        <td>Andres</td>
        <td>Paz</td>
      </tr>
      <tr>
        <td>P586975</td>
        <td>380 </td>
        <td>Ryan </td>
        <td>Hassoun</td>
      </tr>
    </table>
  </h3>
  <h2>
    Passenger Information:
  </h2>
  <h3>
    <table>
      <tr>
        <th>PassengerID</th>
        <th>TicketID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>PhoneNumber</th>
        <th>LuggageAmount</th>
      </tr>
      <tr>
        <td>7202</td>	 <td>BJ4DI</td>	 <td>Ryan</td>	 <td>Hassoun</td>	 <td>630-555-0178</td>	 <td>1</td>

      </tr>
      <tr>
        <td>2406</td>	<td>PG6RS</td>	<td>Liam</td>	<td>Clancy</td>	<td>630-555-0199</td>	<td>1</td>

      </tr>
      <tr>
        <td>3102</td>	<td>DXFRE</td>	<td>Anunay</td>	<td>Jujjavarapu</td>	<td>630-555-0156</td>		<td>1</td>

      </tr >

    </table>
  </h3>
  <h2>
    Ticket Information:
  </h2>
  <h3>
    <table>
      <tr>
        <th>PassengerID</th> <th>SeatNum</th>	<th>TicketCost</th>

      </tr>
      <tr>
        <td>4701</td>	 <td>16</td>	 <td>$30</td>

      </tr>
      <tr>
        <td>7202</td>	 <td>4</td>	 <td>$50</td>
      </tr>
      <tr>
        <td>2406</td>	 <td>23</td>	 <td>$20</td>
      </tr >
      <tr>
        <td>3102</td>	 <td>28</td>	 <td>$50</td>
      </tr>
    </table>
  </h3>



</div>




</html>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


