<h2>Airplane List</h2>
<table>
  <tr>
    <th>AirplaneID</th>
    <th>DestinationID</th>
    <th>HeadPilotID</th>
    <th>Capacity</th>
    <th>Model</th>
    <th>Company</th>
    <th>CrewSize</th>

  </tr >


  <tr *ngFor="let airplane of airplanes;">
    <td>{{ airplane.AirplaneID }}</td>
    <td *ngFor="let destination of destinations; index as destinationId">
      <a [title]="destination.DestinationID " [routerLink]="['/destinations', destinationId]">
        {{ airplane.DestinationID }}
      </a>
    </td>

    <td>{{ airplane.HeadPilotID }}</td>
    <td>{{ airplane.Capacity }}</td>
    <td>{{ airplane.Model }}</td>
    <td>{{ airplane.Company }}</td>
    <td>{{ airplane.CrewSize }}</td>
  </tr>


</table>
